@media screen and (max-width: 768px) {
  .bars {
    display: block;
  }
  .navbar > ul {
    display: none;
  }
  .servies_one {
    width: calc(50% - 20px);
  }
  .hello_left{
    width: 100% ;
    height: 100vh;
  }
  .hello_right{
    width: 100%;
    padding: 50px;
  }
  .footer_row_one{
    margin: 0 10px;
  }
    
  
}
@media screen and (max-width: 425px) {
  .hero_text {
    width: 100%;
  }
  .servies_one {
    width: 100%;
  }
  .features_text {
    width: 100%;
  }
  .features_text > h2::before {
    width: 100%;
  }
  .hello_left{
    width: 100% ;
    height: 100vh;
  }
  .hello_right{
    width: 100%;
    padding: 20px;
  }
  .testimonials_one{
    width: 100%;
    box-shadow: none;
  }
  .testimonials{
    margin-top: 40px;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
  }
  #serach_input{
    width: 70%;
  }
  #submit_input{
    width: 20%;
  }
  .footer_row_one{
    width: 100%;
    margin-top: 50px;
  }
}
